*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
body{
    min-width: 1200px;
}
.clearfix::after{
	content: '';
	display: table;
	clear:  both;
}
a{
    text-decoration: none;
 }
.floatleft{
    float: left;
}
.floatright{
    float: right;
}


.btn{
    color: white;
    text-align: center;
    background-color: rgb(159, 241, 248);

}

.textcenter{
    text-align: center;
}
.margintop5{
    margin-top: 5%;
}

.margintop8{
    margin-top: 10%;
}

.margintop6{
    margin-top: 6%;
}
.margintop3{
    margin-top: 3%;
}

h1{
    font-size: 90px;
    margin-bottom: 10px;
}

h2{
    font-size: 40px;
}
h3, a{
   font-size: 30px;
   font-weight:normal;
}

h4{
    font-size: 20px;
    font-weight:normal;
}
 
.padding5{
    padding: 5%;
}

/* header  */

nav{
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: white;
    z-index: 10000;
    
}


.logo{
    float: left;
    width: 15%;
    object-fit: cover;
    line-height: 8vh;
    vertical-align: middle;
}
.fontmargin35{
  
    margin-top: 2%;

}

.lileft{
    display: inline-block;
    line-height: 8vh;
    margin-left: 2vw;
    

}

.liright{
    display: inline-block;
    float: right;
    line-height: 8vh;
    margin-right: 3vw;
    
}
 
.inizia{
    margin-top: 4vh;
    transform: translate(-50%, -50%);
    float: right;
    margin-right: 2vw;
    padding: 15px;
    text-align: center;
    background-color: rgb(159, 241, 248);
    list-style: none;
    
}

header{
    background-color: aliceblue;

    width: 100%;
    
}

.contenitore{
    width: 90%;
    
   
    margin: 0 auto;
    padding-top: 15%;
}

.divjumbo{
    width: 60vw;
    height: 100%;
    float: right;

}    
.jumbo{
    max-width: 100%;
    max-height: 100%;
   object-fit: cover;
   margin-bottom: -10%;
}


.inizia2{
    background-color: aqua;
    text-align: center;
    padding: 10px;
  
}

.div-main{
    width: 80%;
    padding-top: 10%;
    
    margin: 0 auto;
  
}
/* section 1  */
.cerchio-blu{
    border: 8px solid aqua;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    float: left;
    margin-top: 5vh;
    
}
span{
    margin-top: 0;
    font-size: 30px;
    display: inline-block;
    line-height: 30px;  
}
.cerchio{
    border: 2px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-left: 20px;
}
.titlepiano{
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    
}
.contenitore2{
    width: calc((100% / 3) - 45px);
    float: left;
    border: 1px solid black;
    margin-top: 20px;
    
}

.contenitore2space{
    margin-left: 55px;
    
}

.type{
    border-top: 1px solid black;
    padding: 15px;
}

/* prova 30 giorni */
.prova{
    
    text-align: center;
    width: 90%;
    margin: 8% auto;
    background-color: rgb(159, 241, 248);
    padding: 10px;
}

.shorthr{
    width: 15%;
    margin: 8% 0;
    border: 1px solid black;
}

/* contatta ufficio  */

.ufficio{
    border: 1px solid black;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}

.contatta{
    width: 100%;
    border-top: 1px solid black;
    text-align: left;
    padding: 15px;
   position: relative;
   padding-top: 25px;
   margin-bottom: 3%;
}

.contatta2{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 25px;
    text-align: center;
    width: 35%;
    padding: 15px;
    background-color: rgb(159, 241, 248);
}

/* trova partner */
.partner{
    float: left;
    width: 50%;
    margin-right: 5%;
}

.btnpartner{
    width: 15%;
    float: left;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;

}

.margin-partner {
    margin: 5% 0;
}

/*operazioni  */
#operazioni{
    padding-top: 6%;
}
#operazioni .box{
    width: calc((100% / 3) - 20px);
    margin-top: 40px;
    margin-bottom: 40px;
}
#operazioni .operazioni-img{
    width: 100%;
}
#operazioni .center-box{
    margin: 40px 30px;
}
#operazioni .operazioni-testo p{
    padding-top: 5%;
}
#operazioni .operazioni-img img{
    width: 100%;
}
#scopri{
    width: 60%;
    padding-top: 5%;
}

