*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
body{
    min-width: 1200px;
}
.clearfix::after{
	content: '';
	display: table;
	clear:  both;
}
a{
    text-decoration: none;
 }
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
.mtop2vh{
    margin-top: 2vh;
}
.font40{
    font-size: 40px;
}
.btn{
    color: white;

}
h2{
    font-size: 80px;
    
}
/* header  */

nav{
    border: 2px solid red;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    
}


.logo{
    float: left;
    width: 10%;
    margin-top: 50px;
}

.lileft{
    display: inline-block;
    line-height: 10vh;
    margin-left: 2vw;
    font-size: 30px;

}

.liright{
    display: inline-block;
    float: right;
    line-height: 10vh;
    margin-right: 3vw;
    font-size: 30px;
}
 
.inizia{
    margin-top: 5vh;
    transform: translate(-50%, -50%);
    float: right;
    line-height: 4vh;
    margin-right: 2vw;
    height: 70px;
    width: 110px;
    text-align: center;
    background-color: rgb(159, 241, 248);
    font-size: 30px;
    list-style: none;
    
}

header{
    background-color: aliceblue;
    height: 100vh;
    border: 1px solid red;
    position: relative;
}

.contenitore{
    font-size: 80px;
    border: 2px solid red;
    margin: 20vh 5%;
}

    
.jumbo{
    margin-bottom: -5px;
    width: 60vw;
    
}

.prova{
    margin-top: 4vh;
    width: 20vw;
    background-color: aqua;
    text-align: center;
}

.div-main{
    width: 80%;
    margin: 15vh auto;
    border: 2px solid red;
    height: 100vh;
}
/* section 1  */
.cerchio-blu{
    border: 8px solid aqua;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    margin-top: 5vh;
    
}
span{
    margin-top: 5vh;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;  
}
.cerchio{
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-left: 20px;
}
.prezzo{
    width: calc(100% / 3);
    height: 70vh;
    border: 2px solid red;
    display: inline-block ;
    margin-top: 15vh;
   
}

    








